target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.classpath
.project
.settings/
.idea/
*.iml
generate/
testsuite/
competencyquestions/rdf/catalog-v001.xml
darwin_cloud.txt
name_tests.csv
space_tests.csv
time_tests.csv
/bin/
data/TG2_tests.csv
data/TG2_supplementary_tests.csv
data/TG2_multirecord_measure_tests.csv
results.tsv
event_date_qc*.jar
TG2_tests.xml
output.rdf
temp.out
